.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

#loader{
  height: 100%;
}

#old-reddit {
  color: #FF5700;
  border: 1px solid #FF5700;
  background-color: #fff;
  border-radius: 4px;
}

#reddit {
  color: #fff;
  border: 1px solid #FF5700;
  background-color: #FF5700;
  border-radius: 4px;
}
